<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter var', ...tailwindConfig.theme.fontFamily.sans],
                    },
                },
            },
        }
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <style>
    </style>
</head>

<body class="bg-gray-100 flex items-center justify-evenly flex-row h-screen">
  <div class="grid grid-cols-3 gap-4">
    {% for m in messages %}
      <div class="max-w-sm bg-white p-6 rounded shadow-lg">
        <div class="px-6 py-4">
          <div class="font-semibold text-lg">Message {{ m.type }}, le {{ m.date }}</div>
          <div class="text-sm font-medium text-gray-700 mb-4">
            Importance {{ m.importance }}/4
            {% if m.enabled %}
              <span class="btn bg-green-600 text-white py-0 px-2 rounded hover:bg-green-700 focus:outline-none focus:bg-green-700">actif</span>
            {% else %}
              <span class="btn bg-gray-600 text-white py-0 px-2 rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">inactif</span>
            {% endif %}
          </div>
          <p class="text-gray-700 text-base">
            {{ m.message }}
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 flex gap-4">
          <form action="/delete_message/{{ m.id }}" method="post">
            <button class="btn bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 focus:outline-none focus:bg-red-700" type="submit">Supprimer</button>
          </form>
          <form action="/toggle_message/{{ m.id }}" method="post">
            {% if m.enabled %}
              <button class="btn bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700">Désactiver</button>
            {% else %}
              <button class="btn bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:bg-green-700">Activer</button>
            {% endif %}
          </form>
          <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:bg-blue-700" data-modal-target="modal-{{ m.id }}" data-modal-toggle="modal-{{ m.id }}">Éditer</button>
        </div>
      </div>
      <div id="modal-{{ m.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
              <h3 class="text-xl font-semibold text-gray-900">
                Éditer le message
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="modal-{{ m.id   }}">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Fermer</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <form action="/edit_message/{{ m.id }}" method="post">
                <div class="mb-4">
                  <label class="block text-sm font-medium text-gray-700 mb-1">Importance (1-4)</label>
                  <input value="{{ m.importance }}" name="importance" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" type="number" max="4" min="1"/>
                </div>
                <div class="mb-6">
                  <label class="block text-sm font-medium text-gray-700 mb-1">Écrivez votre message ici...</label>
                  <textarea name="message" rows="4" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">{{ m.message }}</textarea>
                </div>
                <button class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="submit">Sauvegarder</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="bg-white p-6 rounded shadow-lg w-96">
    <form action="/add_message" method="post">
      <h2 class="text-lg font-semibold mb-4">Créer un message</h2>
      <div class="mb-4">
        <label for="message-type" class="block text-sm font-medium text-gray-700 mb-1">Sélectionner le type de message</label>
        <select id="message-type" name="type" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="important">Important</option>
          <option value="alert">Alerte</option>
          <option value="autre">Autre</option>
          <option value="information">Information</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="message-importance" class="block text-sm font-medium text-gray-700 mb-1">Importance (1-4)</label>
        <input id="message-importance" name="importance" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" type="number" max="4" min="1"/>
      </div>
      <div class="mb-6">
        <label for="message" class="block text-sm font-medium text-gray-700 mb-1">Écrivez votre message ici...</label>
        <textarea id="message" name="message" rows="4" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
      </div>
      <button class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="submit">Envoyer</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>
